@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 82 30% 90%;
    --foreground: 82 30% 20%;

    --card: 82 30% 95%;
    --card-foreground: 82 30% 20%;

    --popover: 82 30% 90%;
    --popover-foreground: 82 30% 20%;

    --primary: 82 30% 40%;
    --primary-foreground: 82 30% 95%;

    --secondary: 82 30% 85%;
    --secondary-foreground: 82 30% 20%;

    --muted: 82 30% 88%;
    --muted-foreground: 82 30% 50%;

    --accent: 82 30% 80%;
    --accent-foreground: 82 30% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 82 30% 85%;
    --input: 82 30% 85%;
    --ring: 82 30% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 82 30% 15%;
    --foreground: 82 10% 80%;

    --card: 82 30% 18%;
    --card-foreground: 82 10% 80%;

    --popover: 82 30% 15%;
    --popover-foreground: 82 10% 80%;

    --primary: 82 30% 70%;
    --primary-foreground: 82 30% 10%;

    --secondary: 82 30% 25%;
    --secondary-foreground: 82 10% 80%;

    --muted: 82 30% 22%;
    --muted-foreground: 82 10% 60%;

    --accent: 82 30% 30%;
    --accent-foreground: 82 10% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 82 30% 25%;
    --input: 82 30% 25%;
    --ring: 82 30% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
   min-height: 100vh;
  }
}

.print-force-new-page {
  page-break-before: always;
}
